body {
  padding: 10px !important;
}
.app .dropdown-user {
  display: inline-block;
  position: relative;
  top: -20px;
}
.app .dropdown-user .dropdown.btn-group .dropdown-toggle {
  color: white;
  height: 50px;
}
.app .dropdown-user .dropdown.btn-group.open .dropdown-toggle {
  color: inherit;
}
div.Container {
  margin: 0 auto 5px auto !important;
}